.redondo    {
    border-radius: 50%;
}
h1 {
	font color="white";
}
p1 {
	color:white;
}
.botao{
    border: solid 1px; 
    border-radius: 20px;
    color: black; 
    background-color:white; 
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
      }
.botao:hover{
    background-color: white; 
    color: black; 
    transform: scale(1.2);
}
